.box{
    background-color: blue;
    padding: 10px;
}

p{
    color: yellow;
    margin: 0;
    padding: 0;
}
.white-text{
    background-color: red;
}
#outer-box{
    background-color: blueviolet;
}
.inner-box{
    background-color: red;
}
.white-text{
    color: white;
}
    

