

#l-1{
    width: 200px;
    float: left;
}
.d-1{
    float: left;
    width: 200px;
    height: 400px;
}
.d-2{
    float:right;
    width: 200px;
    height: 400px;
}
.d-1:hover{
    background-color: blue;
}
.d-2:hover{
    background-color: red;
}
.l-3{
    clear: both;
    position: absolute;
    bottom: 0;
    border: 1px solid;
    border-width: 2px 0 0 0;
    width: 100%;
    padding: 10px;
}
